.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  padding: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.btn-review {
  margin-top: 20px;
  border-radius: 4px;
  background: rgba(255, 153, 0, 1);
  color: white;
  width: 60%;
}
